*{
    margin:auto;
  }
  body
  {
    width: 100%;
    background: url(../images/fondopizza.jpg) ;
  }

  .colors
  {
    width: 50%;
    height: auto;
    overflow: hidden;
    float: left;
  }

  #FormaUno
  {
    width: 100px; 
    height: 100px; 
    background: yellow;
    margin:20px;
    margin-right: 40%;
  }

  #FormaDos 
  {
    width: 100px; 
    height: 100px; 
    background: green;
    margin:20px;
    margin-right: 40%;
  
  }

  #FormaTres 
  {
    width: 100px; 
    height: 100px; 
    background: orange;
    margin:20px;
    margin-right: 40%;
  
  }

  #FormaCuatro 
  {
    width: 100px; 
    height: 100px; 
    background: red;
    margin:20px;
    margin-right: 40%;
  
  }

  #pizza
  {
    width: 50%;
    height: auto;
    overflow: hidden;
    text-align: left;
    float: right;
    color: whitesmoke;
  }

  #circle 
  {
      position: relative;
      border: 1px solid black;
      padding: 0;
      margin: 40px;
      width: 20em;
      height: 20em;
      border-radius: 50%;
      list-style: none;
      overflow: hidden;
      background: gray;
    }

    li 
    {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 50%;
      transform-origin: 0% 100%;
      border:solid 2px black;
    }

    .text 
    {
      position: absolute;
      left: -100%;
      width: 200%;
      height: 200%;
      text-align: center;
      transform: skewY(45deg) rotate(15deg);
      padding-top: 20px;
    }
    
    li:first-child {
      transform: rotate(0deg) skewY(-45deg);
    }
    li:nth-child(2) {
      transform: rotate(45deg) skewY(-45deg);
    }
    li:nth-child(3) {
      transform: rotate(90deg) skewY(-45deg);
    }
    li:nth-child(4) {
      transform: rotate(135deg) skewY(-45deg);
    }
    li:nth-child(5) {
      transform: rotate(180deg) skewY(-45deg);
    }
    li:nth-child(6) {
      transform: rotate(225deg) skewY(-45deg);
    }
    li:nth-child(7) {
      transform: rotate(270deg) skewY(-45deg);
    }
    li:nth-child(8) {
      transform: rotate(315deg) skewY(-45deg);
    }
    li:first-child .text {
      background: transparent;
    }
    li:nth-child(2) .text {
      background: transparent;
    }
    li:nth-child(3) .text {
      background: transparent;
    }
    li:nth-child(4) .text {
      background: transparent;
    }
    li:nth-child(5) .text {
      background: transparent;
    }
    li:nth-child(6) .text {
      background: transparent;
    }
    li:nth-child(7) .text {
      background: transparent;
    }
    li:nth-child(8) .text {
      background: transparent;
    }